<head>
    <base href="/">
    <title>aboree.com - Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#4e8ef7">
</head>

<body style="background-image: url('/mlnzx84Ur21qzw1qyo1_500.gif')">
<aboree>
    <div class="lds-css ng-scope">
        <div style="width:100%;height:100%" class="lds-pacman">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>
                <div></div>
                <div></div>
            </div>
        </div>
        <style type="text/css">@keyframes lds-pacman-1 {
                                   0% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                                   50% {
                                       -webkit-transform: rotate(-45deg);
                                       transform: rotate(-45deg);
                                   }
                                   100% {
                                       -webkit-transform: rotate(0deg);
                                       transform: rotate(0deg);
                                   }
                               }

        @-webkit-keyframes lds-pacman-1 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            50% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }

        @keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @-webkit-keyframes lds-pacman-2 {
            0% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            50% {
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
            100% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        @keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        @-webkit-keyframes lds-pacman-3 {
            0% {
                -webkit-transform: translate(190px, 0);
                transform: translate(190px, 0);
                opacity: 0;
            }
            20% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(70px, 0);
                transform: translate(70px, 0);
                opacity: 1;
            }
        }

        .lds-pacman {
            position: relative;
        }

        .lds-pacman > div:nth-child(2) div {
            position: absolute;
            top: 40px;
            left: 40px;
            width: 120px;
            height: 60px;
            border-radius: 120px 120px 0 0;
            background: #ff9800;
            -webkit-animation: lds-pacman-1 0.6s linear infinite;
            animation: lds-pacman-1 0.6s linear infinite;
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 0.6s linear infinite;
            animation: lds-pacman-2 0.6s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div {
            position: absolute;
            top: 92px;
            left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ff9800;
            -webkit-animation: lds-pacman-3 0.6s linear infinite;
            animation: lds-pacman-3 0.6s linear infinite;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.402s;
            animation-delay: -0.402s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.198s;
            animation-delay: -0.198s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        .lds-pacman {
            width: 71px !important;
            height: 71px !important;
            -webkit-transform: translate(-35.5px, -35.5px) scale(0.355) translate(35.5px, 35.5px);
            transform: translate(-35.5px, -35.5px) scale(0.355) translate(35.5px, 35.5px);
        }
        </style>
    </div>
</aboree>
</body>
