<h1 class="mat-h1">Get early access</h1>
<form fxLayout="column" fxLayoutAlign="center none" [formGroup]="subscribeForm" (keydown)="onEnter($event)">
    <mat-input-container>
        <input matInput placeholder="email" type="email" #email formControlName="email">
        <mat-error ngxErrors="email">
            <div ngxError="required" when="pristine">
                enter valid email
            </div>
        </mat-error>
    </mat-input-container>
</form>
<button mat-raised-button color="primary" class="text-uppercase" style="margin-top: 10px;" [disabled]="!subscribeForm.valid" (click)="subscribe()">Notify me</button>
