<section class="mat-typography">
    <p>This email address is already registered, try with another one</p>
</section>
<button mat-raised-button color="primary" class="text-uppercase" style="margin-top: 10px;" (click)="dismissModal()">OK</button>
