<subscribe-form *ngIf="!subscribed" (submit)="subscribe($event)"></subscribe-form>
<section class="mat-typography" *ngIf="subscribed">
    <h2 classs="mat-h2" style="text-align: center">Thank you for your interest!</h2>
</section>
