<mat-grid-list cols="2" rowHeight="6:1">
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <img src="/aboree.png" alt="" style="display: block; width: auto">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button color="primary" class="text-uppercase" (click)="openDialog()" style="display: block">Get early access</button>
    </mat-grid-tile>
</mat-grid-list>
