<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>aboree.com - Thank you for subscription</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
<p>Your email {{email}} was registered for early access at aboree.com</p>
<br/>
<p>aboreeNetwork</p>
</body>
</html>
